
Soulkan.vcxproj.filters
Soulkan.vcxproj.user
x64/Debug/main.obj
x64/Debug/Soulkan.Build.CppClean.log
x64/Debug/Soulkan.exe.recipe
x64/Debug/Soulkan.ilk
x64/Debug/Soulkan.log
x64/Debug/Soulkan.tlog/CL.command.1.tlog
x64/Debug/Soulkan.tlog/CL.read.1.tlog
x64/Debug/Soulkan.tlog/CL.write.1.tlog
x64/Debug/Soulkan.tlog/link.command.1.tlog
x64/Debug/Soulkan.tlog/link.read.1.tlog
x64/Debug/Soulkan.tlog/link.write.1.tlog
x64/Debug/Soulkan.tlog/Soulkan.lastbuildstate
x64/Debug/Soulkan.vcxproj.FileListAbsolute.txt
x64/Debug/tests.obj
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
Soulkan.vcxproj
debugMessenger.txt
